body {
    font-family: Arial, sans-serif;
    background-color: #f2f6ff;
    margin: 0;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #7d31a5;
    margin-bottom: 20px;
}

form {
    background-color: white;
    padding: 25px;
    border-radius: 12px;
    width: 300px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    text-align: center;
}

input {
    width: 90%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

button {
    width: 90%;
    padding: 10px;
    margin-top: 15px;
    background-color: #792ea7;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: #54167a;
}

#message {
    margin-top: 15px;
    font-weight: bold;
    text-align: center;
}